{% extends "base.html.twig" %}
{% block body %}
    <h2>Dashboard</h2>
    <h3>Willkommen {{ user }}</h3>
    <div class="accordion accordion-flush" id="accordionExample">
    {% for entries in data %}
        {% for entry in entries %}
            <div class="accordion-item">
                <h2 class="accordion-header" id="headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{entry.id}}" aria-expanded="true" aria-controls="collapse{{entry.id}}">
                        {{ entry.title }}
                    </button>
                </h2>
                <div id="collapse{{entry.id}}" class="accordion-collapse collapse" aria-labelledby="heading{{entry.id}}" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>User:</p>
                        <input type="text" disbaled value="{{ entry.user }}">
                        <p>Email:</p>
                        <input class="" type="text" disbaled value="{{ entry.email }}">
                        <p>Password:</p>
                        <input class="" type="text" disbaled value="{{ entry.password }}">
                    </div>
                </div>     
            </div>
            <br>
        {% endfor %}
        
    {% endfor %}
    </div>


    
    
{% endblock %}